.specs_space {
    width: 180px;
    border: 1px solid black;
    border-radius: 5px;
    border-color: #B91550;
}

h3 {
    color: #B91550;
}

.btn_generate {
    background-color: #CCCDCC;
    color: #B91550;
    border-color: #E48C40;
}

.btn_undo {
    background-color: #CCCDCC;
    color: #B91550;
    border-color: grey;
}